---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    run: maintainerr
  name: maintainerr
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      run: maintainerr
  template:
    metadata:
      labels:
        run: maintainerr
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000    
      containers:
      - env:
        - name: TZ
          value: America/New_York
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        image: jorenn92/maintainerr
        name: maintainerr
        ports:
        - containerPort: 6246
          name: web
        volumeMounts: 
        - mountPath: /opt/data 
          name: htpc-home
          subPath: maintainerr
