---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    run: cloudflared
  name: cloudflared
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      run: cloudflared
  template:
    metadata:
      labels:
        run: cloudflared
    spec:
      containers:
      - env:
        - name: TZ
          value: America/New_York
        - name: TUNNEL_TOKEN
          valueFrom:
            secretKeyRef:
              key: TUNNEL_TOKEN
              name: cloudflared
        image: cloudflare/cloudflared
        name: cloudflared
