apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: wg-easy

commonLabels:
  app: wg-easy

resources:
- namespace.yaml
- deployment.yaml
- service.yaml
- cloudflared
- ingress-route.yaml

patchesStrategicMerge:
- volumes_patch.yaml
