apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: adblocker

commonLabels:
  app: adblocker

resources:
- namespace.yaml
- unbound
- blocky
- ingress-route.yaml
- imageupdater.yaml

patchesStrategicMerge:
- volumes_patch.yaml
