---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    run: jellyseerr
  name: jellyseerr
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      run: jellyseerr
  template:
    metadata:
      labels:
        run: jellyseerr
    spec:
      securityContext:
        fsGroup: 1000
      containers:
      - env:
        - name: TZ
          value: America/New_York
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        image: fallenbagel/jellyseerr
        name: jellyseerr
        ports:
        - containerPort: 5055
          name: webui
          protocol: TCP
        volumeMounts: 
        - mountPath: /app
          name: htpc-home
          subPath: jellyseerr
