apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../base/matrix
images:
- name: forgejo.ellis.link/continuwuation/continuwuity
  digest: sha256:f5a946474c3027f5fcdaea34a5b1d4f108b4ded60e01e6577e9395c561f13540
- name: dock.mau.dev/mautrix/wsproxy
  digest: sha256:83a2f5cf550063cfe17aec3b14af2c297315f13c73114723efa73b746a861753
- name: dock.mau.dev/mautrix/whatsapp
  digest: sha256:9855e68d864858dde7562ab57706abff21e926387ba65b8ec45901e947925079
- name: dock.mau.dev/mautrix/slack
  digest: sha256:23b30f0ccee765fc03c068363afe4e526a1e7193806ff912d611f6a68193664c
- name: ghcr.io/element-hq/lk-jwt-service
  digest: sha256:52357326970d3f3e3cf6e9c33766e49cf2665e2cd57842e29a5c298514bd2e58
- name: livekit/livekit-server
  digest: sha256:3602a85840d51981808d0519aefca170a3dbe3dec7bc8c5b87cbd52a503ea89f
