apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../base/matrix
images:
- name: forgejo.ellis.link/continuwuation/continuwuity
  digest: sha256:c1aa5cb5cb8330f7c5c0781b123178ac80816a9e196ae3eacf37cea29d8ebe26
- name: dock.mau.dev/mautrix/wsproxy
  digest: sha256:83a2f5cf550063cfe17aec3b14af2c297315f13c73114723efa73b746a861753
- name: dock.mau.dev/mautrix/whatsapp
  digest: sha256:f11267ea14832308e46d2201d182910cb4f78666a7dbca638b217771691fca6e
- name: dock.mau.dev/mautrix/slack
  digest: sha256:042da5f2c9b8be5b72ac6c49ed2b19599bfe4b005cd517cd805877fa48057b26
- name: ghcr.io/element-hq/lk-jwt-service
  digest: sha256:52357326970d3f3e3cf6e9c33766e49cf2665e2cd57842e29a5c298514bd2e58
- name: livekit/livekit-server
  digest: sha256:3602a85840d51981808d0519aefca170a3dbe3dec7bc8c5b87cbd52a503ea89f
