apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../base/matrix
images:
- name: forgejo.ellis.link/continuwuation/continuwuity
  digest: sha256:1f31ad44e692c9ab0a4f39a7111e8ad9dfef0f251f0a864fe05667c152f1f5c1
- name: dock.mau.dev/mautrix/wsproxy
  digest: sha256:83a2f5cf550063cfe17aec3b14af2c297315f13c73114723efa73b746a861753
- name: dock.mau.dev/mautrix/whatsapp
  digest: sha256:3cee178e30b5b0785d1435f1bcbfde23854baf7f8afe78612ac5216f43c9dab4
- name: dock.mau.dev/mautrix/slack
  digest: sha256:23b30f0ccee765fc03c068363afe4e526a1e7193806ff912d611f6a68193664c
- name: ghcr.io/element-hq/lk-jwt-service
  digest: sha256:52357326970d3f3e3cf6e9c33766e49cf2665e2cd57842e29a5c298514bd2e58
- name: livekit/livekit-server
  digest: sha256:3602a85840d51981808d0519aefca170a3dbe3dec7bc8c5b87cbd52a503ea89f
