apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../base/matrix
images:
- name: forgejo.ellis.link/continuwuation/continuwuity
  digest: sha256:dd9302ec9a4c3ee0f2f9aa68e7f59a31db749af8d4f3fde5f6cdf3eeb5be4d63
- name: dock.mau.dev/mautrix/wsproxy
  digest: sha256:83a2f5cf550063cfe17aec3b14af2c297315f13c73114723efa73b746a861753
- name: dock.mau.dev/mautrix/whatsapp
  digest: sha256:9bc5c344d12a9a9112c7c9353f9c640a633120ffc2b5f01212236ab13cef44ac
- name: dock.mau.dev/mautrix/slack
  digest: sha256:9c35f3ed9f363b22b140161e71ba9c77be1d41d4cfd337890b4e0056c89105e1
- name: ghcr.io/element-hq/lk-jwt-service
  digest: sha256:52357326970d3f3e3cf6e9c33766e49cf2665e2cd57842e29a5c298514bd2e58
- name: livekit/livekit-server
  digest: sha256:3602a85840d51981808d0519aefca170a3dbe3dec7bc8c5b87cbd52a503ea89f
