apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../base/smarthome
images:
- name: linuxserver/homeassistant
  digest: sha256:b8d8ff339eddaed2e3cfd777f7548ce6268ee8adc4aceabdcb86b9b589ea332d
- name: luigi311/jellyplex-watched
  digest: sha256:7b2af847ff2064acb2d368a232e917ee8ae62095479e14d2cc2a01302e65669a
- name: eclipse-mosquitto
  digest: sha256:e011726bdfa757011bc8b8716e03b7c35d2c3f623d9f658c2c6bf66e909ea42e
- name: zwavejs/zwave-js-ui
  digest: sha256:d38bee896a9d99dd6d558c258c9935656ea73e58b7ebf1cae5479a73f6e0553e
- name: ghcr.io/blakeblackshear/frigate
  digest: sha256:1f8dbaaa4c7c2855c2aef711842d13b0c20bfdc3f28ad88faf66aa1bc219b108
- name: tboyk/frigate-echo
  digest: sha256:40561a5ebf928e5d0d906531acf8f2dc3f2f21144cc7dc931fd2da2a3f0dbf43
