apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../base/smarthome
images:
- name: linuxserver/homeassistant
  digest: sha256:b8d8ff339eddaed2e3cfd777f7548ce6268ee8adc4aceabdcb86b9b589ea332d
- name: luigi311/jellyplex-watched
  digest: sha256:7b2af847ff2064acb2d368a232e917ee8ae62095479e14d2cc2a01302e65669a
- name: eclipse-mosquitto
  digest: sha256:6852da90a65dfff7aa3a1c8b249e92bb83c17ea8bbcce56bedff8707332a1a29
- name: zwavejs/zwave-js-ui
  digest: sha256:ca599b5d7afd4832848c8fb7a7eded38ea3494bce560a14c1b8304f6497fe17a
- name: ghcr.io/blakeblackshear/frigate
  digest: sha256:5be5ce3b79f8b09a52957afea9d4a23ad62c9f077a05d9047e3404eb78c304a8
- name: tboyk/frigate-echo
  digest: sha256:40561a5ebf928e5d0d906531acf8f2dc3f2f21144cc7dc931fd2da2a3f0dbf43
