apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../base/smarthome
images:
- name: linuxserver/homeassistant
  digest: sha256:b8d8ff339eddaed2e3cfd777f7548ce6268ee8adc4aceabdcb86b9b589ea332d
- name: luigi311/jellyplex-watched
  digest: sha256:7b2af847ff2064acb2d368a232e917ee8ae62095479e14d2cc2a01302e65669a
- name: eclipse-mosquitto
  digest: sha256:077fe4ff4c49df1e860c98335c77dda08360629e0e2a718147027e4db3eace9d
- name: zwavejs/zwave-js-ui
  digest: sha256:1a1e858dd454e50c2ead9a8f64b17fb7c4cbf67fe413bb8009d73e7fdf33c615
- name: ghcr.io/blakeblackshear/frigate
  digest: sha256:4041ad318224500cf9513c513b1bb927d9dd252f63bbd3d11c92006c1172c86c
