apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: postgresql

commonLabels:
  app: postgresql

resources:
- namespace.yaml
- deployment.yaml
- service.yaml
- ingress-route.yaml
- imageupdater.yaml

patchesStrategicMerge:
- volumes_patch.yaml
